<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<!--AGREGAR VIGILANCIA!-->
<p-dialog header="Agregar Vigilancia DIP" [modal]="true" [(visible)]="visible"  [style]="{width: '60vw', minWidth: '50vw', height: '38vw', minHeight: '38vw'}" >
  <hr>
  <form (ngSubmit)="onSubmit()" [formGroup]="nuevaVigilanciaDips">
    <div class="grid">
      <div class="col-12">
        <div class="p-fluid p-formgrid grid mt-5"  >
          <div class="field col-12   ">
            <label for="dip">DIP</label>
            <p-dropdown [options]="dips" optionValue="id"  optionLabel="nombre" [filter]="true" filterBy="nombre"
              [showClear]="true" placeholder="Selecciona un DIP" formControlName="id_dip">
            </p-dropdown>
          </div>
          <div class="field col-6  md:col-6 ">
            <label for="fecha_instalacion">Fecha de Instalacion</label>
            <p-calendar   formControlName="fecha_instalacion" dateFormat="dd/mm/yy" [showIcon]="true"
              inputId="fecha_instalacion">
            </p-calendar>
          </div>
          <div class="field col-6  md:col-6 ">
            <label for="fecha_retiro">Fecha de Retiro</label>
            <p-calendar formControlName="fecha_retiro" dateFormat="dd/mm/yy" [showIcon]="true"
              inputId="fecha_retiro">
            </p-calendar>
          </div>
          <div class="field col-12 md:col-6" style="display: none ;">
            <label htmlFor="id_paciente">ID PACIENTE</label>
            <input pInputText id="id_paciente" formControlName="id_paciente" type="text" />
          </div>
          <div class="field col-12 md:col-6" style="display: none ;">
            <label htmlFor="id_usuario">ID USUARIO</label>
            <input pInputText id="id_usuario" formControlName="id_usuarioCreacion" type="text" />
          </div>
          <div class="field col-12 md:col-6" style="display: none ;">
            <label htmlFor="id_usuario">ID USUARIO RETIRA</label>
            <input pInputText id="id_usuario" formControlName="id_usuarioRetira" type="text" />
          </div>



        </div>
      </div>
    </div>



    <p-footer>
      <div class="col-12   ">
        <p-button [disabled]=" !nuevaVigilanciaDips.valid"  type="submit" label="Ingresar Dip" icon="pi pi-check" iconPos="right"
          styleClass="p-button-success"></p-button>
      </div>
    </p-footer>
  </form>
</p-dialog>
<!--AGREGAR VIGILANCIA!-->

<!-- AGREGAR BITACORA!-->
<p-dialog header="Bitacora" [modal]="true" [(visible)]="bitacoraVisible"  [style]="{width: '60vw', minWidth: '50vw', height: '38vw', minHeight: '38vw'}" >
  <hr>

    <p-timeline [value]="comentarios" align="alternate" styleClass="customized-timeline">

      <span class="custom-marker shadow-2">
        <i class="pi pi-comment"></i>
      </span>

      <ng-template pTemplate="content" let-comentario>

        <p-card >
          <ng-template pTemplate="title">
            {{comentario.user.nombreUsuario | uppercase}}
          </ng-template>

          <ng-template pTemplate="subtitle">
            {{comentario.createdAt | date:'medium'}}
          </ng-template>

          <ng-template pTemplate="content">
           {{comentario.contenido}}
          </ng-template>


        </p-card>
      </ng-template>
    </p-timeline>


  <p-footer>
    <form (ngSubmit)="onSubmitBitacora()" [formGroup]="addBitacora">
      <div class="col-12">
        <div class="p-fluid p-formgrid grid mt-5">
          <span class="p-float-label col-12 md:col-12">
            <textarea id="float-input"  [rows]="4" [cols]="30" [autoResize]="true" style="max-height : 10rem" pInputTextarea formControlName="contenido"></textarea>
            <label for="float-input">Nueva Bitacora</label>
          </span>
          <div class="field col-12 md:col-6" style="display: none;">
          <label htmlFor="created_by">ID USUARIO CREA</label>
          <input pInputText id="created_by" formControlName="created_by" type="text" />
          </div>
          <div class="field col-12 md:col-6" style="display: none;">
            <label htmlFor="id_dip">ID VIGILANCIA DIP</label>
            <input pInputText id="id_dip" formControlName="id_dip" type="text" />
          </div>
          <div class="col-12 md:col-6 col-offset-3 flex align-content-center justify-content-center" >
            <p-button [disabled]=" !addBitacora.valid"  type="submit" label="Agregar Bitacora" icon="pi pi-check" iconPos="right"
            styleClass="p-button-success"></p-button>
          </div>
        </div>

      </div>
    </form>
  </p-footer>
</p-dialog>
<!-- AGREGAR BITACORA!-->


<p-panel header="DIPS" [toggleable]="true" styleClass="mb-4" [collapsed]="true">

  <button class="mb-3" pButton type="button" label="Agregar DIP" (click)="mostrarDialogo()"></button>
    <ng-container *ngIf="dataSource; else loadingBlock ">
      <p-table [value]="vigilancias" [lazy]="true" (onLazyLoad)="cargarVigilancias($event)" responsiveLayout="scroll"
        dataKey="id" [paginator]="true" [rows]="rowsPerPage" [totalRecords]="totalRecords" [loading]="loading">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th pSortableColumn="fecha_instalacion">Fecha de Instalacion<p-sortIcon field="fecha_instalacion"></p-sortIcon>
            </th>
            <th pSortableColumn="dias_exposicion">Dias de Exposicion<p-sortIcon field="dias_exposicion"></p-sortIcon>
            </th>
            <th pSortableColumn="fecha_retiro">Fecha de Retiro<p-sortIcon field="fecha_retiro"></p-sortIcon>
            </th>
            <th pSortableColumn="dip">DIP<p-sortIcon field="dip"></p-sortIcon>
            </th>
            <th pSortableColumn="usuarioCreacion">Usuario de Creacion<p-sortIcon field="usuarioCreacion"></p-sortIcon>
            </th>
            <th pSortableColumn="usuarioRetira">Retirado Por<p-sortIcon field="usuarioRetira"></p-sortIcon>
            </th>
            <th style="width: 11rem; text-align: center;">
              Acciones
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dip>
          <tr>
            <td>
              {{dip.id}}
            </td>
            <td>{{dip.fecha_instalacion | date}}</td>
            <td>{{dip.dias_exposicion}}</td>
            <td>{{dip.fecha_retiro  | date}}</td>
            <td>{{dip.dip.nombre}}</td>
            <td>{{dip.usuarioCreacion.nombre}}</td>
            <td>{{dip.usuarioRetira?.nombre}}</td>

            <td style="text-align: center ;">
              <button pButton pRipple icon="pi pi-bars" pTooltip="Bitacora" tooltipPosition="bottom"
                class="p-button-rounded  p-button-text" (click)="agregarBitacora(dip.id)"></button>
              <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar Paciente" tooltipPosition="bottom"
                class="p-button-rounded p-button-success p-button-text"></button>
              <button pButton pRipple icon="pi pi-times" pTooltip="Eliminar Paciente" tooltipPosition="bottom"
                class="p-button-rounded p-button-danger p-button-text"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </ng-container>
  <ng-template #loadingBlock></ng-template>
</p-panel>
