<div class="grid">
  <div class="col-12">
    <div class="card p-fluid">
      <h1 class="flex justify-content-center align-items-center">{{paciente$?.nombre | uppercase}} {{paciente$?.apellido_paterno | uppercase}}</h1>
    </div>
    <ng-container *ngIf="paciente$ ">
      <app-dipsvigilancias [paciente] = "paciente$" [token] = "token" ></app-dipsvigilancias>
      <app-procedimientosvigilancias [paciente] = "paciente$" [token] = "token" ></app-procedimientosvigilancias>
      <app-iarepisvigilancias [paciente] = "paciente$" [token] = "token" ></app-iarepisvigilancias>
      <app-paavigilancias [paciente] = "paciente$" [token] = "token" ></app-paavigilancias>
      <app-comentarios [paciente] = "paciente$" [token] = "token" ></app-comentarios>
    </ng-container>
  </div>
</div>
