<div class="grid">
  <div class="col-12">
    <div class="card p-fluid">
      <h1 class="flex justify-content-center align-items-center">{{paciente$?.nombre | uppercase}} {{paciente$?.apellido_paterno | uppercase}}</h1>
    </div>
    <ng-container *ngIf="paciente$ ">
      <app-dipsvigilancias [paciente] = "paciente$" [token] = "token" ></app-dipsvigilancias>
      <app-procedimientosvigilancias [paciente] = "paciente$" [token] = "token" ></app-procedimientosvigilancias>
      <app-iarepisvigilancias></app-iarepisvigilancias>
      <app-paavigilancias></app-paavigilancias>
    </ng-container>
  </div>
</div>
