
<div id="wrapper">
  <app-leftpanel ></app-leftpanel>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-header></app-header>
      <div class="container-fluid">
         <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

 




<!-- <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <div class="layout-page">
      
        <div class="content-wrapper">
         
        </div>
      </div>
    </div>
  </div> -->







