<div class="layout-wrapper"[ngClass]="{'layout-overlay':isOverlay(),
'layout-static':isStatic(),
'layout-overlay-sidebar-active': overlayMenuActive,
'layout-static-sidebar-inactive': staticMenuInactive,
'layout-mobile-sidebar-active':menuActiveMobile}">
  <app-top-bar *ngIf="showHead" ></app-top-bar>
  <div class="layout-sidebar">
    <app-left-panel></app-left-panel>
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

