<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h5>Tipo de Heridas</h5>
            <hr>
            <form class="p-fluid p-formgrid grid " (ngSubmit)="onSubmit()"  [formGroup]="tipoHeridaForm">
                <div class="field col-12 md:col-6 " >
                    <label htmlFor="herida">Agregar Tipo de Herida</label>
                    <div class="p-inputgroup">
                        <input pInputText id="herida" formControlName="nombre"  type="text"/>
                        <button type="submit" pButton pRipple icon="pi pi-plus" styleClass="p-button-warn"></button>      
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
         
                <p-table [value]="tipoHeridas" dataKey="id" editMode="row" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th style="width:8rem">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-herida let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="herida">
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="output">
                                        {{herida.id}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="herida.nombre" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{herida.nombre}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(herida)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(herida)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(herida, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            
        </div>
    </div>
</div>