<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <h5>Procedimientos Cirugias</h5>
            <hr>
            <form class="p-fluid p-formgrid grid " (ngSubmit)="onSubmit()"  [formGroup]="nuevoProcedimientoForm">
                <div class="field col-12 md:col-6 " >
                    <label htmlFor="procedimiento">Agregar Procedimiento</label>
                    <div class="p-inputgroup">
                        <input pInputText id="procedimiento" formControlName="nombre"  type="text"/>
                        <button type="submit" pButton pRipple icon="pi pi-plus" styleClass="p-button-warn"></button>      
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
         
                <p-table [value]="procedimientos" dataKey="id" editMode="row" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th style="width:8rem">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-procedimiento let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="procedimiento">
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="output">
                                        {{procedimiento.id}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="procedimiento.nombre" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{procedimiento.nombre}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(procedimiento)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(procedimiento)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(procedimiento, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            
        </div>
    </div>
</div>